<div class="container-fluid">
    <div id="content">
        <div id="filters" class="row-fluid">
            <form ng-submit="getData()" class="form-inline">
                <div class="input-append">
                    <input ng-model="bugsCount" type="number" alt="Number of reports per page" class="input-mini"/>
                    <button class="btn" type="submit">OK</button>
                </div>
                <select ng-model="filterName" ng-change="changeFilterValues()" ng-options="f.label for f in availableFilters">
                </select>
                <select ng-model="filterValue" ng-disabled="filterName == noFilter"  ng-change="filterValueSelected()" ng-options="v.label for v in filterValues">
                </select>
                <input type="text" class="search-query" placeholder="Search in this page" ng-model="search">
                <label class="checkbox">
                    <input type="checkbox" ng-model="fullSearch" ng-change="getData()"> All report attributes
                </label>
            </form>
        </div>
        <div class="row-fluid tab-content">
            <span ng-bind-template="Bugs {{startNumber}} to {{endNumber}} (out of {{totalBugs}}):">Loading...</span>
            <button class="btn btn-small" ng-click="hideSolvedBugs = !hideSolvedBugs">
                <span ng-hide="hideSolvedBugs">Hide solved bugs</span>
                <span ng-show="hideSolvedBugs">Show solved bugs</span>
            </button>
            <div class="loader" ng-show="loading"><img  src="img/loader.gif"/></div>
            <div ng-hide="loading" id="bugs-list" class="div-table table table-condensed">
                <div class="div-table-row">
                    <div class="div-table-cell"></div>
                    <div class="div-table-cell"><i class="icon-time"></i></div>
                    <div class="div-table-cell"><i class="icon-th-list"></i></div>
                    <div class="div-table-cell"><i class="icon-gift"></i></div>
                    <div class="div-table-cell exceptions"><i class="icon-fire"></i></div>
                </div>
                <div class="div-table-row"
                     ng-repeat="bug in pageItems()"
                     ng-animate="{ enter: 'example-repeat-enter',
                                               leave: 'example-repeat-leave',
                                               move: 'example-repeat-move'}">
                    <div class="div-table-cell" ng-click="toggleSolved(bug)">
                        <span title="Unsolved bug" ng-hide="bug.value.solved"><i class="icon-bug-unsolved"></i></span>
                        <span title="Solved bug" ng-show="bug.value.solved"><i class="icon-bug-solved"></i></span>
                    </div>
                    <div title="Latest report" class="div-table-cell label label-info">{{bug.latest}}</div>
                    <div title="Number of reports" class="div-table-cell label">{{bug.value.count}}</div>
                    <div title="Application version code" class="div-table-cell label label-warning">{{bug.key[0]}}</div>
                    <div class="div-table-cell exceptions">
                        <span title="Exception" class="label label-important">{{bug.key[1]}}</span><br/>
                        <span title="Root exception" class="label label-inverse" ng-show="bug.key[2]">Caused by: {{bug.key[2]}}</span>
                    </div>
                </div>
            </div>
            <span paginator items="bugsList | filter:shouldBeDisplayed | orderBy:'value.latest':true" pageSize="bugsCount"></span>
            <ul class="pager">
                <li class="previous" ng-show="previousStartKeys.length > 0">
                    <a ng-click="getPreviousPage()"><i class="icon-chevron-left"></i> Newer</a>
                </li>
                <li class="previous disabled" ng-hide="previousStartKeys.length > 0">
                    <span><i class="icon-chevron-left"></i> Newer</span>
                </li>
                <li class="next" ng-show="nextKey != null">
                    <a ng-click="getNextPage()">Older <i class="icon-chevron-right"></i></a>
                </li>
                <li class="next disabled" ng-hide="nextKey != null">
                    <span>Older <i class="icon-chevron-right"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>
