<form name="changePasswordForm" class="form-horizontal">
    <div class="modal-header">
        <h3>Change Password</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger">
            <i class="icon-exclamation-sign"></i>
            Changing password will log you out.
        </div>
        <div ng-class="{ 'control-group': true, 'error': changePasswordForm.password.$invalid || errmessage }">
            <label class="control-label" for="password">New Password</label>
            <div class="controls">
                <input ng-model="password" name="password" type="password" required init-focus/>
                <span class='help-inline' ng-show='errmessage'>
                    {{errmessage}}
                </span>
            </div>
        </div>
        <div ng-class="{ 'control-group': true, 'error': changePasswordForm.confirm_password.$invalid }">
            <label class="control-label" for="confirm_password">Confirm Password</label>
            <div class="controls">
                <input ng-model="confirm_password" name="confirm_password" type="password" required same-as="password">
                <span class='help-inline' ng-show='changePasswordForm.confirm_password.$valid'>
                    <i class='icon-ok'></i>
                </span>
                <span class='help-inline' ng-show='changePasswordForm.confirm_password.$error.MATCH'>
                    Passwords must match
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <img src="img/not-polling.gif" ng-show="pending" alt="pending transaction" />
        <button class="btn btn-primary" ng-click="close()" data-my-disabled="!changePasswordForm.$valid" ng-disabled='!changePasswordForm.$valid' >Change Password</button>
    </div>
</form>
