<div class="container-fluid">
    <div id="charts" class="row-fluid">
        <div id="graph-container" ng-controller="ReportsPerDayCtrl" class="span8">
            <div class="chooser">Reports per
                <select class="input-small" ng-model="period" ng-change="getData()" ng-options="p.name for p in periods">
                </select>
            </div>
        </div>
        <div id="pie-charts" ng-controller="PieChartsCtrl" class="span4">
            <div class="chooser">Reports per
                <select ng-model="fieldName" ng-change="getData()" ng-options="f.label for f in fieldNames">
                </select>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div id="content" class="span12">
            <tabs>
                <pane heading="Bugs">
                    <div ng-controller="BugsCtrl">
                        <span>{{bugsLimit}} latest bugs (out of <a href="#/bugs-browser/{{acralyzer.app}}">{{bugs.length}}</a>):</span>
                        <button class="btn btn-small" ng-click="hideSolvedBugs = !hideSolvedBugs">
                            <span ng-hide="hideSolvedBugs">Hide solved bugs</span>
                            <span ng-show="hideSolvedBugs">Show solved bugs</span>
                        </button>

                        <ng-include src="'partials/bugs-table.html'"></ng-include>

                    </div>
                </pane>
                <pane heading="Reports">
                    <div ng-controller="CrashReportsCtrl">
                        <div class="rss"><a href="/acra-{{acralyzer.app}}/_design/acra-storage/_list/rss/recent-items?descending=true"><img src="img/rss.png"></a></div>
                        <span>{{reports.length}} latest reports (out of <a href="#/reports-browser/{{acralyzer.app}}">{{totalReports}}</a>):</span>

                        <ng-include src="'partials/reports-table.html'"></ng-include>

                        <report-details report="selectedReport" acralyzer="acralyzer"></report-details>
                    </div>
                </pane>
            </tabs>
        </div>
    </div>
</div>
