<div class="container-fluid">
    <div id="charts" class="row-fluid">
        <div id="graph-container" ng-controller="ReportsPerDayCtrl" class="span8">
            <div class="chooser">Reports per
                <select class="input-small" ng-model="period" ng-change="getData()" ng-options="p.name for p in periods">
                </select>
            </div>
        </div>
        <div id="pie-charts" ng-controller="PieChartsCtrl" class="span4">
            <div class="chooser">Reports per
                <select ng-model="fieldName" ng-change="getData()" ng-options="f.label for f in fieldNames">
                </select>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div id="content" class="span12">
            <tabs>
                <pane heading="Reports">
                    <div ng-controller="CrashReportsCtrl">
                        <div class="rss"><a href="/acra-{{acralyzer.app}}/_design/acra-storage/_list/rss/recent-items?descending=true"><img src="img/rss.png"></a></div>
                        <span ng-bind-template="{{reports.length}} latest reports (out of {{totalReports}}):">Loading...</span>
                        <div id="reports-list" class="div-table table table-condensed">
                            <div class="div-table-row">
                                <div class="div-table-cell"/>
                                <div class="div-table-cell"><i class="icon-time"></i></div>
                                <div class="div-table-cell"><i class="icon-gift"></i></div>
                                <div class="div-table-cell"><i class="icon-bugdroid"></i></div>
                                <div class="div-table-cell"><i class="icon-phone"></i></div>
                                <div class="div-table-cell exceptions"><i class="icon-fire"></i></div>
                            </div>

                            <div class="div-table-row"
                                 ng-repeat="report in reports"
                                 ng-class-odd="'odd'"
                                 ng-class-even="'even'"
                                 >
                                <div class="div-table-cell actions">
                                    <a ng-click="loadReport(report)" class="action">
                                        <i class="icon-search" ng-hide="report.id == selectedReport._id" title="Display details"></i>
                                        <i class="icon-asterisk" ng-show="report.id == selectedReport._id" title="Current selection"></i>
                                    </a>
                                    <a ng-click="deleteReport(report)" class="action">
                                        <i class="icon-trash" title="Delete permanently"></i>
                                    </a>
                                </div>
                                <span title="Crash date" class="div-table-cell label label-info">{{report.displayDate}}</span>
                                <span title="Application version name" class="div-table-cell label label-warning">{{report.value.application_version_name}}</span>
                                <span title="Android verion" class="div-table-cell label label-success">{{report.value.android_version}}</span>
                                <span title="Device" class="div-table-cell label">{{report.value.device}}</span>
                                <div class="div-table-cell exceptions">
                                    <span title="Exception" class="label label-important">{{report.value.signature.digest}}</span>
                                    <span title="Root exception" class="label label-inverse" ng-show="report.value.signature.rootCause">Caused by: {{report.value.signature.rootCause}}</span>
                                </div>
                            </div>
                        </div>
                        <report-details report="selectedReport" acralyzer="acralyzer"></report-details>
                    </div>
                </pane>
                <pane heading="Bugs">
                    <div ng-controller="BugsCtrl">
                        <span ng-bind-template="{{bugsLimit}} latest bugs (out of {{bugs.length}}):">Loading...</span>
                        <button class="btn btn-small" ng-click="hideSolvedBugs = !hideSolvedBugs">
                            <span ng-hide="hideSolvedBugs">Hide solved bugs</span>
                            <span ng-show="hideSolvedBugs">Show solved bugs</span>
                        </button>
                        <div id="bugs-list" class="div-table table table-condensed">
                            <div class="div-table-row">
                                <div class="div-table-cell"></div>
                                <div class="div-table-cell"><i class="icon-time"></i></div>
                                <div class="div-table-cell"><i class="icon-th-list"></i></div>
                                <div class="div-table-cell"><i class="icon-gift"></i></div>
                                <div class="div-table-cell exceptions"><i class="icon-fire"></i></div>
                            </div>
                            <div class="div-table-row"
                                 ng-repeat="bug in bugs | filter:shouldBeDisplayed | orderBy:'value.latest':true | limitTo:bugsLimit"
                                 ng-animate="{ enter: 'example-repeat-enter',
                                               leave: 'example-repeat-leave',
                                               move: 'example-repeat-move'}">
                                <div class="div-table-cell" ng-click="toggleSolved(bug)">
                                    <span title="Unsolved bug" ng-hide="bug.value.solved"><i class="icon-bug-unsolved"></i></span>
                                    <span title="Solved bug" ng-show="bug.value.solved"><i class="icon-bug-solved"></i></span>
                                </div>
                                <div title="Latest report" class="div-table-cell label label-info">{{bug.latest}}</div>
                                <div title="Number of reports" class="div-table-cell label">{{bug.value.count}}</div>
                                <div title="Application version code" class="div-table-cell label label-warning">{{bug.key[0]}}</div>
                                <div class="div-table-cell exceptions">
                                    <span title="Exception" class="label label-important">{{bug.key[1]}}</span><br/>
                                    <span title="Root exception" class="label label-inverse" ng-show="bug.key[2]">Caused by: {{bug.key[2]}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </pane>
            </tabs>
        </div>
    </div>
</div>
