<form ng-submit="close()" name="loginForm">
    <div class="modal-header">
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <p>
            <label for="username">Username</label>
            <input ng-model="username" name="username" type="text" required />
            <span class="error" ng-show="loginForm.username.$error.required">Required!</span><br>
        </p>
        <p>
            <label for="password">Password</label>
            <input ng-model="password" name="password" type="password" required />
            <span class="error" ng-show="loginForm.password.$error.required">Required!</span><br>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()" data-my-disabled="!loginForm.$valid" ng-disabled='!loginForm.$valid' >Login</button>
    </div>
</form>
