<div ng-show="report._id">
    <hr/>
    <div class="report-details-header">
        <h3>Summary</h3>
        <table>
            <tr>
                <th><i class="icon-gift"></i></th>
                <th>Application version code</th>
                <td>{{report.APP_VERSION_CODE}}</td>
                <th>Application version name</th>
                <td colspan="3">{{report.APP_VERSION_NAME}}</td>
            </tr>
            <tr>
                <th><i class="icon-time"></i></th>
                <th>Uptime</th>
                <td>25 min</td>
                <th>Crashed</th>
                <td>{{report.USER_CRASH_DATE}}</td>
                <th>Reported</th>
                <td>{{report.timestamp}}</td>
            </tr>
            <tr>
                <th><i class="icon-fire"></i></th>
                <th>Stack Trace</th>
                <td colspan="3" class="stacktrace">
                    <ul>
                        <li ng-repeat="stackline in report.STACK_TRACE">{{stackline}}</li>
                    </ul>
                </td>
                <th>Custom Data</th>
                <td>
                    <div prettyprint="report.CUSTOM_DATA"/>
                </td>
            </tr>
            <tr>
                <th><i class="icon-user"></i></th>
                <th>E-mail</th>
                <td><a href="mailto:{{report.USER_EMAIL}}">{{report.USER_EMAIL}}</a></td>
                <th>Comment</th>
                <td>{{report.USER_COMMENT}}</td>
                <th>Installation ID</th>
                <td>{{report.INSTALLATION_ID}}</td>
            </tr>
        </table>
    </div>
    <h3>Full report</h3>
    <div class="report-details" prettyprint="report" />
</div>