<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div id="filters" class="row-fluid">
        <form ng-submit="getData()" class="form-inline">
            <div class="input-append">
                <input ng-model="reportsCount" type="number" alt="Number of reports per page" class="input-mini"/>
                <button class="btn" type="submit">OK</button>
            </div>
            <select ng-model="filterName" ng-change="changeFilterValues()" ng-options="f.label for f in availableFilters">
            </select>
            <select ng-model="filterValue" ng-disabled="filterName == noFilter"  ng-change="filterValueSelected()" ng-options="v.label for v in filterValues">
            </select>
            <input type="text" class="search-query" placeholder="Search in this page" ng-model="search">
            <label class="checkbox">
                <input type="checkbox" ng-model="fullSearch" ng-change="getData()"> All report attributes
            </label>
        </form>
    </div>
    <div id="reports-list" class="row-fluid">
        <span ng-bind-template="reports {{startNumber}} to {{endNumber}} (out of {{totalReports}}):">Loading...</span>
        <div class="loader" ng-show="loading"><img  src="img/loader.gif"/></div>
        <ul ng-hide="loading">
            <li ng-repeat="report in reports | filter:search" ng-cloak>
                <a ng-click="loadReport(report)" class="btn btn-mini"><i class="icon-search" ng-hide="report.id == selectedReport._id"></i><i class="icon-asterisk" ng-show="report.id == selectedReport._id"></i></a>
                <report-summary report="report"></report-summary>
            </li>
        </ul>
        <ul class="pager">
            <li class="previous" ng-show="previousStartKeys.length > 0">
                <a ng-click="getPreviousPage()"><i class="icon-chevron-left"></i> Newer</a>
            </li>
            <li class="previous disabled" ng-hide="previousStartKeys.length > 0">
                <span><i class="icon-chevron-left"></i> Newer</span>
            </li>
            <li class="next" ng-show="nextKey != null">
                <a ng-click="getNextPage()">Older <i class="icon-chevron-right"></i></a>
            </li>
            <li class="next disabled" ng-hide="nextKey != null">
                <span>Older <i class="icon-chevron-right"></i></span>
            </li>
        </ul>
    </div>
    <report-details report="selectedReport"></report-details>
</div>
