#graph-container rect {
	stroke: blue;
	fill: blue;
}

#graph-container .xaxis path,
#graph-container .xaxis line,
#graph-container .yaxis path,
#graph-container .yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#graph-container .axis text {
    font-family: sans-serif;
    font-size: 11px;
}