#graph-container rect {
	stroke: blue;
	fill: blue;
}

#graph-container .xaxis path,
#graph-container .xaxis line,
#graph-container .yaxis path,
#graph-container .yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#graph-container .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*#graph-container rect.enter {
	stroke:green;
	fill:green;
}
#graph-container rect.exit {
	stroke:red;
	fill:red;
}
*/

#graph-container svg {
	background: #f6f6f6;
	border-radius: 0.5em;
	border: solid 1px #aaa;
	display: block;
}

#graph-container text {
	font-size: 0.8em;
}